.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: rgb(211, 226, 255);
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 40px ;
    margin: 20px;
}